body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
	background-color: ##fffca1;
}

header {
    background-color: #8D0000;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

main {
    padding: 20px;
}

footer {
    background-color: #8D0000;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
